services:
  waha:
    image: devlikeapro/waha:latest-2025.9.1
    container_name: waha
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - waha_data:/app/.sessions
    environment:
      WAHA_LOG_FORMAT: JSON
      WHATSAPP_HOOK_URL: http://api:8000/waha/webhook
      WHATSAPP_HOOK_EVENTS: message,session.status
      WHATSAPP_HOOK_RETRIES_ATTEMPS: 4
      WHATSAPP_HOOK_RETRIES_DELAY_SECONDS: 3

  rabbitmq:
    image: rabbitmq:4.1.3-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    volumes:
      - .:/workspace:cached
    ports:
      - '8000:8000'
    command: tail -f /dev/null
    environment:
      WAHA_API_URL: http://waha:3000/api
      WAHA_SESSION_NAME: default

volumes:
  waha_data:
  rabbitmq_data:
  redis_data:
